.about
    background: url('images/about-background.jpg') no-repeat center center
    height: 710px

    .white-text
        max-width: 55%
        margin-bottom: 92px

.about-info-top
    background: #fff

    &__text
        display: flex

        p
            color: #3D3D3D
            text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15)
            font-size: 20px
            font-style: normal
            font-weight: 400
            line-height: normal
            margin-bottom: 52px

            &:not(:last-child)
                padding-right: 50px

.history

    &__title
        color: #0D0D0D
        font-size: 40px
        font-style: normal
        font-weight: 700
        line-height: normal

    &__time-line
        display: grid

                

.start-a-project
    display: flex
    padding-top: 56px
    margin-bottom: 72px

    &__title
        color: #0D0D0D
        font-size: 64px
        font-style: normal
        font-weight: 700
        line-height: normal
        width: 45%

    &__image
        height: 158px
        margin-top: 45px

.certificates
    padding-top: 46px

    &__images
        display: flex
        padding-bottom: 64px

    &__title
        color: #0D0D0D
        font-size: 64px
        font-style: normal
        font-weight: 700
        line-height: normal
        width: 50%
        padding-bottom: 46px

.about-info-bottom
    background-color: #fff

.clients
    padding-bottom: 129px

    &__title
        color: #0D0D0D
        font-size: 64px
        font-style: normal
        font-weight: 700
        line-height: normal
        width: 50%
        padding-bottom: 109px

    &__images
        display: flex
        justify-content: center