.about
    background: url('images/about-background.jpg') no-repeat center center
    margin-top: -108px
    padding-top: 169px
    height: 710px

    .white-text
        max-width: 55%
        margin-bottom: 92px

.certificates
    padding-top: 46px

    &__images
        display: flex
        padding-bottom: 64px

    &__title
        color: #0D0D0D
        font-size: 64px
        font-style: normal
        font-weight: 700
        line-height: normal
        width: 50%
        padding-bottom: 46px

.about-info-bottom
    background-color: #fff

.clients

    &__title
        color: #0D0D0D
        font-size: 64px
        font-style: normal
        font-weight: 700
        line-height: normal
        width: 50%

    &__images
        display: flex
        justify-content: center