@use "fonts.sass"

.btn
    background: #1F30D8
    position: absolute
    border-radius: 20px
    height: 90px

.more__btn
    width: 256px

.decision__btn
    width: 360px

.projects__btn
    width: 256px

.contact__btn
    width: 326px

.consultation__btn
    width: 270px


p
    color: #fff
    font-size: 20px
    position: relative
    top: 11px
    left: 42px
    font-family: Montserrat

img
    float: right
    position: relative
    right: 35px
    bottom: 35px